div.events {
	.event {
		background: #fbe9ef;
		border: 1px solid #ecdde2;
		height: 90px;
		padding: 0 10px;
		margin-bottom: 12px;
		
		&.last {
			margin-bottom: 0;
		}
	}
	
	span {
		display: inline-block;
		vertical-align: top;
		line-height: 100px;
		width: 24.6%;
		font-family: 'Univers';
		font-size: 55px;
		text-transform: uppercase;
		
		&.name {
			line-height: 45px;
			font-size: 30px;
		}
		
		&.date, &.join {
			text-align: center;
		}
		
		a {
			color: #000;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}